doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    //- あぁ＾〜jQuery便利すぎるんじゃぁ〜
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="../modules/jquery.xdomainajax.js")

    title template
  body
    h1 hello scraping

    script(src="../js/index.js?a=b")
